In [31]:
import pandas as pd
import gspread
# from gspread_dataframe import set_with_dataframe
from google.oauth2.service_account import Credentials
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
scopes = ['https://www.googleapis.com/auth/spreadsheets',
          'https://www.googleapis.com/auth/drive']

credentials = Credentials.from_service_account_file('c:\\Users\\KOFI ADUKPO\\Downloads\\today-363514-96dd83295987.json', scopes=scopes)

In [42]:
gc = gspread.authorize(credentials)

gauth = GoogleAuth()
drive = GoogleDrive(gauth)

# open a google sheet
gs = gc.open_by_key('1u9rD9SoxHPm7Mlxzo7Cm0FupSuUXc7e53M-sCBnS_Ng')
# select a work sheet from its name
worksheet1 = gs.worksheet('Sheet1')

In [43]:
# Get all values from the worksheet
data = worksheet1.get_all_values()

In [44]:
df = pd.DataFrame(data)

In [45]:
df

Empty DataFrame
Columns: []
Index: []

In [46]:
new_row = {'q': 'Mike', 'e': 40}
df = df.append(new_row, ignore_index=True)

C:\Users\KOFI ADUKPO\AppData\Local\Temp\ipykernel_24672\3027734850.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_row, ignore_index=True)

In [47]:
df

      q   e
0  Mike  40

In [48]:
# write to dataframe
worksheet1.clear()
worksheet1.update([df.columns.values.tolist()] + df.values.tolist())

c:\Users\KOFI ADUKPO\Desktop\code\tenv\lib\site-packages\gspread\worksheet.py:1046: UserWarning: [Deprecated][in version 6.0.0]: method signature will change to: 'Worksheet.update(value = [[]], range_name=)' arguments 'range_name' and 'values' will swap, values will be mandatory of type: 'list(list(...))'
  warnings.warn(

{'spreadsheetId': '1u9rD9SoxHPm7Mlxzo7Cm0FupSuUXc7e53M-sCBnS_Ng',
 'updatedRange': 'Sheet1!A1:B2',
 'updatedRows': 2,
 'updatedColumns': 2,
 'updatedCells': 4}

In [41]:

df.head()

Empty DataFrame
Columns: []
Index: []